* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 40%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    background-color: aqua;
}

input {
    padding: 12px 24px;
}